<div class="container">  <!-- この行を追加 -->
<div class="row">      <!-- この行を追加 -->
<div class="col-md-3">
<%= render 'books/book',user: @user %>
<%= render 'books/newbook',book: @book %>
</div>

<div class="col-md-8 offset-md-1">
<h1>Users</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>  <!-- この行を追加 -->
</div>    <!-- この行を追加 -->

<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>