<%= render 'books/book',user: @user %>
<%= render 'books/newbook',book: @book %>
<h2>Books</h2>
<% @books.each do |book| %>
<div>
  <%= link_to user_path(@user) do %>
    <spam><%= attachment_image_tag book.user, :profile_image, :fill, 100, 100, format: 'jpeg' %></spam>
  <% end %>
  <p>Title : <%= link_to book.title, "/books/#{book.id}" %></p>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>
<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>