<%= render 'books/book',user: @user %>
<%= render 'books/newbook',book: @book %>
<h2>Book detail</h2>
<div>
  <%= link_to user_path(@user) do %>
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
    <%= @user.name %>
  <% end %>
  <p><%= link_to @book.title, "/books/#{@book.id}" %></p>
  <p><%= @book.body %></p>
  <p><%= link_to "bottun", edit_book_path(@book) %></p>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", books_path(@book), method: :delete %>
  <% end %>
</div>
<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>